cmake-build*
*.geany
PVS*
*.cfg
*.cmd
.project
*.kdev4
latex
html
build*/
!game/server/database/build/
game/server/database/data/templates.sql
.codelite/
.idea/
build.log
*.phprj
*.project
*.workspace
